@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.ttf);
}
@font-face {
    font-family:  Times-New-Romans;
    src: url(../fonts/times-new-roman.ttf);
}
body{
    font-family: Helvetica;
}
header{
    font-family: Times-New-Romans;
}
.msg-count{
    font-family: Helvetica;
}