/* icon-creation  */

.hamburger{
    height: 50px;
    cursor: pointer;
    transition: .4s;
    position: relative;
    top: 15px;
}
.hamburger .hamburger-bar{
    width: 24px;
    height: 3px;
    background: #000000;
    transition: .3s;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    position: relative;
}
.hamburger .hamburger-bar:not(:first-child){
    margin-top: 4px;
}

#checkBox:checked + .hamburger{
    /* transform: translate(-50%, -50%) rotate(180deg); */
    transition: left .2s;
}
#checkBox:checked+.hamburger .hamburger-bar:nth-child(1) {
    top: 11px;
    left: 1px;
    transform: rotate(45deg);
}
#checkBox:checked+.hamburger .hamburger-bar:nth-child(3) {
    top: -3px;
    left: 0px;
    transform: rotate(-45deg);
}
#checkBox:checked+.hamburger .hamburger-bar:nth-child(2) {
    opacity: 0;
}


#checkBox{
    display: none;
}